# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diretórios do Node.js
node_modules/
dist/
build/

# Arquivos do ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache e logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Arquivos do Editor de Código
.vscode/
.idea/
.DS_Store

# Configuração do TypeScript
tsconfig.tsbuildinfo

# Arquivos de testes temporários
coverage/
jest-cache/
jest-test-results.json

# Arquivos de compilação Vite
.vite/
.vitest/

.next/
out/

.pnp.*
.pnpm-store/
public/*.map
public/*.br
public/*.gz